.button:hover{
	-fx-background-color: #00C853;
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	-fx-scale-z: 1.1;
}

.button{
	-fx-background-color: #ffffff;
	-fx-border-color: #93e2ff;
}
