/*
 *	Apply google Roboto font to all UI components
 */

.root {
    -fx-font-family: "Roboto";
    -fx-background-color: #e0ffff;
}

.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}

.title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.radio-button-title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0 0.0 -20.0 0.0;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

/*******************************************************************************
 *                                                                             *
 * JFX Drawer                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-drawer-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1)
}

.jfx-drawer-side-pane {
    -fx-background-color: WHITE;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.jfx-scroll-pane .main-header {
    -fx-background-image: url("../bg1.jpg");
}

.jfx-scroll-pane .condensed-header {
    -fx-background-image: url("../bg4.jpg");
}
